## view and import the dataset

In [43]:
import pandas as pd
import numpy as np

In [44]:
data=pd.read_csv("C:/Users/soumy/OneDrive/Desktop/aaa/14.FDNY(1).csv",encoding='ISO-8859-1')
data

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [45]:
data = data.drop(labels=0,axis=0)
data

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

## analyse the data

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 1 to 218
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FacilityName     218 non-null    object
 1   FacilityAddress  218 non-null    object
 2   Borough          218 non-null    object
dtypes: object(3)
memory usage: 5.2+ KB

In [47]:
head_rows=data.head(5)
head_rows

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan

In [48]:
data.drop_duplicates()

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [49]:
data.describe()

              FacilityName  FacilityAddress   Borough
count                  218              218       218
unique                 218              218         5
top     Engine 4/Ladder 15  42 South Street  Brooklyn
freq                     1                1        66

In [50]:
data.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [51]:
data.index

RangeIndex(start=1, stop=219, step=1)

## total number of depertment facilities in new york

In [52]:
len(data['Borough'])

218

In [53]:
len(data['FacilityName'])

218

In [54]:
len(data['FacilityAddress'])

218

In [55]:
data.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

# total number of fire departments facilities in New York

In [56]:
data.sort_values('Borough')

,FacilityName,FacilityAddress,Borough
50,Squad 41,330 East 150th Street,Bronx
72,Engine 64/Ladder 47/District Office 7,1214 Castle Hill Avenue,Bronx
71,Engine 96/Ladder 54,1689 Story Avenue,Bronx
70,Engine 79/Ladder 37/Battalion 27,2928 Briggs Avenue,Bronx
69,Engine 81/Ladder 46,3025 Bailey Avenue,Bronx
...,...,...,...
200,Engine 155/Ladder 78,14 Brighton Avenue,Staten Island
199,Marine 9,Saint George Ferry Terminal,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
207,Engine 158,65 Harbor Road,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [66]:
data.Borough.info()

<class 'pandas.core.series.Series'>
RangeIndex: 218 entries, 1 to 218
Series name: Borough
Non-Null Count  Dtype
--------------  -----
218 non-null    object
dtypes: object(1)
memory usage: 1.8+ KB

In [67]:
data.Borough=="Manhattan"

1       True
2       True
3       True
4       True
5       True
       ...
214    False
215    False
216    False
217    False
218    False
Name: Borough, Length: 218, dtype: bool