In [1]:
# DataSet Name : Pokemon

In [2]:
## how to read csv file?

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("C:/Users/soumy/OneDrive/Documents/Pokemon(1).csv",encoding='ISO-8859-1')

In [5]:
data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [6]:
## find 1st & last 5 rows ?

In [7]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
data.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [9]:
## check the columns for Data Frame?

In [10]:
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [11]:
## Check the shape of the DataFrame (rows, columns)?

In [12]:
data.shape

(800, 13)

In [13]:
## check statistical information about the dataframe?

In [14]:
data.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [ ]:
## How many PokÃ©mon are legendary?

In [41]:
data[data['Legendary']==True].count()['Legendary']

65

In [ ]:
## Legendary PokÃ©mon by type?

In [44]:
data.groupby('Type 1').count()['Legendary']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Legendary, dtype: int64

In [17]:
data.groupby('Type 2').count()['Legendary']

Type 2
Bug          3
Dark        20
Dragon      18
Electric     6
Fairy       23
Fighting    26
Fire        12
Flying      97
Ghost       14
Grass       25
Ground      35
Ice         14
Normal       4
Poison      34
Psychic     33
Rock        14
Steel       22
Water       14
Name: Legendary, dtype: int64

In [18]:
# Legendary PokÃ©mon by fighter stats?

In [19]:
data[data['Legendary']][['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']]

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
156   90      85      100       95      125     85
157   90      90       85      125       90    100
158   90     100       90      125       85     90
162  106     110       90      154       90    130
163  106     190      100      154      100    130
..   ...     ...      ...      ...      ...    ...
795   50     100      150      100      150     50
796   50     160      110      160      110    110
797   80     110       60      150      130     70
798   80     160       60      170      130     80
799   80     110      120      130       90     70

[65 rows x 6 columns]

In [20]:
# Cleaning the dataset

In [21]:
data.drop_duplicates()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [22]:
data.dropna()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [23]:
# How are Pokemon numbers distributed across generations?

In [24]:
data.groupby('Generation').count()['#']

Generation
1    166
2    106
3    160
4    121
5    165
6     82
Name: #, dtype: int64

In [ ]:
# What are the most common types of Pokemon?

In [28]:
pd.concat([data['Type 1'],data['Type 2']]).value_counts().head()

Water      126
Normal     102
Flying     101
Grass       95
Psychic     90
dtype: int64

In [ ]:
# What are the strongest and weakest Pokemon species?

In [32]:
data.sort_values('Total',ascending=False)['Name']

426    RayquazaMega Rayquaza
164      MewtwoMega Mewtwo Y
163      MewtwoMega Mewtwo X
422      KyogrePrimal Kyogre
424    GroudonPrimal Groudon
               ...
13                  Caterpie
288                  Wurmple
446                Kricketot
322                  Azurill
206                  Sunkern
Name: Name, Length: 800, dtype: object

In [ ]:
# What are the strongest and weakest types of Pokemon?

In [34]:
strongest_type=data.groupby('Type 1')['Total'].mean().idxmax()
print('strongest_type:',strongest_type)
weakest_type=data.groupby('Type 1')['Total'].mean().idxmin()
print('weakest_type:',weakest_type)

strongest_type: Dragon
weakest_type: Bug

In [35]:
strongest_type=data.groupby('Type 2')['Total'].mean().idxmax()
print('strongest_type:',strongest_type)
weakest_type=data.groupby('Type 2')['Total'].mean().idxmin()
print('weakest_type:',weakest_type)

strongest_type: Dragon
weakest_type: Bug

In [ ]:
# Are any of the statistics correlated?

In [86]:
data.corr(numeric_only=True)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,1.000000,0.119813,0.097614,0.102298,0.094786,0.088759,0.085817,0.010733,0.982516,0.153396
Total,0.119813,1.000000,0.618748,0.736211,0.612787,0.747250,0.717609,0.575943,0.048384,0.501758
HP,0.097614,0.618748,1.000000,0.422386,0.239622,0.362380,0.378718,0.175952,0.058683,0.273620
Attack,0.102298,0.736211,0.422386,1.000000,0.438687,0.396362,0.263990,0.381240,0.051451,0.345408
Defense,0.094786,0.612787,0.239622,0.438687,1.000000,0.223549,0.510747,0.015227,0.042419,0.246377
Sp. Atk,0.088759,0.747250,0.362380,0.396362,0.223549,1.000000,0.506121,0.473018,0.036437,0.448907
Sp. Def,0.085817,0.717609,0.378718,0.263990,0.510747,0.506121,1.000000,0.259133,0.028486,0.363937
Speed,0.010733,0.575943,0.175952,0.381240,0.015227,0.473018,0.259133,1.000000,-0.023121,0.326715
Generation,0.982516,0.048384,0.058683,0.051451,0.042419,0.036437,0.028486,-0.023121,1.000000,0.079794
Legendary,0.153396,0.501758,0.273620,0.345408,0.246377,0.448907,0.363937,0.326715,0.079794,1.000000

In [ ]:
# Create a training/test split?

In [36]:
from sklearn.model_selection import train_test_split

In [51]:
features=data[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']]
target=data['Type 1']

X_train,X_test,y_train,y_test=train_test_split(features,target,test_size=0.4,random_state=42)

print("training set size:",len(X_train))
print("test set size:",len(X_test))

training set size: 480
test set size: 320

In [ ]:
# split data int Train and model sets?

In [52]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [56]:
features=data[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']]
target=data['Type 1']

X_train,X_model,y_train,y_model=train_test_split(features,target,test_size=0.4,random_state=42)

model=LogisticRegression()
model.fit(X_train,y_train)

C:\Users\soumy\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()