In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1.Read the dataset from sys to environment

In [3]:
data=pd.read_csv("C:/Users/soumy/OneDrive/Documents/Sf_Salaries.csv",encoding='ISO-8859-1',low_memory=False)
data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0,0,-618.13,0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [4]:
# 2.Find the information ?

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [6]:
# 3.What is the average on BasePay ?

In [7]:
y=data.loc[data['BasePay']=="Not Provided"]
y

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN

In [8]:
data['BasePay']=pd.to_numeric(data['BasePay'],errors='coerce')
data['BasePay'].mean()

66325.4488404877

In [9]:
# 4.What is the highest amount of OvertimePay in dataset ?

In [10]:
data['OvertimePay']=pd.to_numeric(data['OvertimePay'],errors='coerce')
highest_payment=data['OvertimePay'].max()
highest_payment

245131.88

5.What is the Job Tile of JOSEPH DRISCOLL?

In [11]:
#5.CAPTAIN, FIRE SUPPRESSION
job_title= data.loc[data['EmployeeName']=="JOSEPH DRISCOLL",'JobTitle'].iloc[0]
job_title

'CAPTAIN, FIRE SUPPRESSION'

In [12]:
# 6.How much does JOSEPH DRISCOLL make(Including Benefits)?

In [13]:
data['Benefits']=data['Benefits'].replace('Not Provided',0)

In [14]:
joseph_income=data[data['EmployeeName']== 'JOSEPH DRISCOLL']
joseph_totalincome=joseph_income['TotalPayBenefits'].values[0]
print("Joseph TotalPay benefits:",joseph_totalincome)

Joseph TotalPay benefits: 270324.91

In [15]:
# 7.What is the name of highest paid person(Including benefits)?

In [54]:
highest_paid=data[data['TotalPayBenefits']==data['TotalPayBenefits'].max()]
highest_paid_person=highest_paid['EmployeeName'].values[0]
print("Highest paid person:",highest_paid_person)

Highest paid person: NATHANIEL FORD

In [55]:
# 8.What is the name of lowest paid person(Including benefits)?

In [56]:
lowest_paid=data[data['TotalPayBenefits']==data['TotalPayBenefits'].min()]
lowest_paid_person=lowest_paid['EmployeeName'].values[0]
print("lowest paid person:",lowest_paid_person)

lowest paid person: Joe Lopez

In [58]:
# 9.What was the average(mean) BasePay of all employess per year ? (2011 - 2014) ?

In [22]:
filterd_data=data[(data['Year']>=2011)&(data['Year']<=2014)]
filterd_data.groupby('Year')['BasePay'].mean().astype(float)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [ ]:
# 10.How many Unique Job Tiles are there ?

In [33]:
data['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [ ]:
# 11.What are the top 5 most common jobs ?

In [34]:
data['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64